<div class="card card-transparent m-b-10 m-t-10">
  <div class="card-body p-l-30 p-b-0 p-r-30 p-t-0">
    <h4 class="page-title inline btn-rounded m-b-0 m-t-5">
      <em class="icon-people"></em>&nbsp;Employees Dashboard
    </h4>
    <div class="dropdown dropdown-default pull-right" dropdown>
      <button
        style="width: 135px;"
        class="btn dropdown-toggle btn-default"
        type="button"
        dropdownToggle
      >
        <em class="icon-list"></em>&nbsp;&nbsp;Actions
      </button>
      <div *dropdownMenu class="dropdown-menu" role="menu">
        <a class="dropdown-item p-l-15">
          <em class="pg pg-plus"></em>&nbsp;&nbsp;New Employee
        </a>
        <a class="dropdown-item p-l-15">
          <em class="pg pg-download"></em>&nbsp;&nbsp;Sink GreyTip
        </a>
      </div>
    </div>
  </div>
</div>

<pg-container extraHorizontalClass="bg-white">
  <div class="card card-default">
    <div class="card-header p-t-10 p-l-5">
      <div class="pull-left">
        <div class="col-xs-12">
          <div class="input-group transparent">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="icon-magnifier"></i>
              </span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              (keyup)="filter = $event.target.value"
            />
          </div>
        </div>
      </div>
      <div class="pull-right">
        <span
          class="input-group-text transparent m-t-5"
          style="border: 0px !important;font-size: 16px;color: #5e5e5e;cursor: pointer;"
          (click)="employeeStore.query()"
        >
          <i class="icon-refresh"></i>
        </span>
      </div>
    </div>

    <div class="card-body p-l-0 p-r-0">
      <app-grid [store]="employeeStore" [filter]="filter"> </app-grid>
    </div>
  </div>
</pg-container>
