<div class="card card-transparent m-b-10 m-t-10">
  <div class="card-body p-l-30 p-b-0 p-r-30 p-t-0">
    <h4 class="page-title inline btn-rounded m-b-0 m-t-5">
      <em class="icon-people"></em>&nbsp;Employee Dashboard
    </h4>
    <button
      class="btn btn-primary btn-rounded btn-cons pull-right m-b-10"
      style="min-width: 85px !important"
      (click)="save()">
      <em class="icon-folder"></em>&nbsp;Save
    </button>
  </div>
</div>
<pg-container extraHorizontalClass="bg-white">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-borderless">
        <pg-tabset
          tabAnimation="slide-left"
          Type="simple"
          ShowPagination="true">
          <pg-tab>
            <ng-template #TabHeading><em class="icon-user"></em>&nbsp;Basic Info</ng-template>
            <div class="row column-seperation">
              <div
                class="col-lg-12"
                *ngIf="employeeRow">
                <form
                  #form="ngForm"
                  id="employee-form"
                  role="form"
                  autocomplete="on"
                  [formGroup]="employeeForm">
                  
                  <label><em class="icon-user-following"></em>&nbsp;Personal Details </label>
                  <div
                    formGroupName="details"
                    class="form-group-attached">
                    <div class="row clearfix">
                      <div class="col-md-12">
                        <div
                          class="form-group form-group-default required"
                          [class.has-error]="isFieldValid(0, 'employeeNo')">
                          <label>Employee Number</label>
                          <input
                            type="text"
                            class="form-control"
                            name="employeeNo"
                            required
                            readonly
                            formControlName="employeeNo"/>
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-6">
                        <div
                          class="form-group form-group-default required"
                          [class.has-error]="isFieldValid(0, 'displayName')">
                          <label>Display Name</label>
                          <input
                            type="text"
                            class="form-control"
                            required
                            formControlName="displayName"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Father Name</label>
                          <input
                            type="text"
                            class="form-control"
                            name="fatherName"
                            formControlName="fatherName"/>
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-4">
                        <div  class="form-group form-group-default required" [class.has-error]="isFieldValid(0, 'gender')" >
                          <label>Gender</label>
                          <div class="radio radio-success">
                            <input id="male"  type="radio" value="M" formControlName="gender"  checked="checked" required/>
                            <label for="male" style="display: inline-block !important; margin-right: 15px !important;">
                              Male
                            </label>
                            <input  id="female"  type="radio" value="F"  formControlName="gender" required/>
                            <label for="female" style="display: inline-block !important; margin-right: 15px !important;">
                              Female
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div  
                            pgFormGroupDefault class="form-group form-group-default required" 
                            [class.has-error]="isFieldValid(0, 'dateOfBirth')">
                          <label>Date Of Birth</label>
                          <pg-datepicker formControlName="dateOfBirth"></pg-datepicker>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div pgFormGroupDefault class="form-group form-group-default">
                          <label>Marital Status</label>
                          <pg-select
                            style="width: 100%;"
                            formControlName="maritalStatus"
                            [PlaceHolder]="'Select Option'"
                            AllowClear
                            ShowSearch >
                            <pg-option
                              *ngFor="let status of maritalStatus"
                              [Label]="status"
                              [Value]="status">
                            </pg-option>
                          </pg-select>
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-6">
                        <div
                          class="form-group form-group-default required"
                          [class.has-error]="isFieldValid(0, 'emailAddress')" >
                          <label>Email Address</label>
                          <input 
                            type="email" 
                            class="form-control"
                            formControlName="emailAddress"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Mobile</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="mobile"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <label class="m-t-30"><em class="icon-layers"></em>&nbsp;Professional Details</label>
                  <div
                    formGroupName="details"
                    class="form-group-attached" >
                    <div class="row clearfix">
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Title</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="title" />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div
                          pgFormGroupDefault
                          class="form-group form-group-default">
                          <label>Date Of Join</label>
                          <pg-datepicker formControlName="dateOfJoin"></pg-datepicker>
                        </div>
                      </div>
                      <!--change to Drop down list of employees as manager to select -->
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Manager</label>
                          <pg-select
                              (OpenChange)="onManagerSelect($event)"
                              style="width: 100%;"
                              formControlName="managerNo"
                              [PlaceHolder]="'Select Option'"
                              AllowClear
                              ShowSearch >
                              <pg-option
                                *ngFor="let manager of managerStore.rows"
                                [Label]="manager.displayName"
                                [Value]="manager.employeeNo">
                              </pg-option>
                            </pg-select>
                        </div>
                      </div>
                    </div>

                    <div class="row clearfix">
                      <div class="col-md-3">
                        <div class="form-group form-group-default">
                          <label>Left Org</label>
                           <pg-select
                            style="width: 100%;"
                            formControlName="leftOrg"
                            [PlaceHolder]="'Select Option'">
                            <pg-option
                              *ngFor="let val of yesOrNO"
                              [Label]="val"
                              [Value]="val">
                            </pg-option>
                          </pg-select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div
                          pgFormGroupDefault
                          class="form-group form-group-default" >
                          <label>Resign Submit Date</label>
                          <pg-datepicker formControlName="resignSubmitDate"></pg-datepicker>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div
                          pgFormGroupDefault
                          class="form-group form-group-default" >
                          <label>Relieve Date</label>
                          <pg-datepicker formControlName="relieveDate"></pg-datepicker>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div
                          pgFormGroupDefault
                          class="form-group form-group-default" >
                          <label>Leaving Date</label>
                          <pg-datepicker formControlName="leavingDate"></pg-datepicker>
                        </div>
                      </div>
                    </div>

                    <div class="row clearfix">
                      <div class="col-md-3">
                        <div class="form-group form-group-default">
                          <label>Notice Period</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="noticePeriod" />
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group form-group-default">
                          <label>Is Notice Required</label>
                          <pg-select
                            style="width: 100%;"
                            formControlName="isNoticeRequired"
                            [PlaceHolder]="'Select Option'">
                            <pg-option
                              *ngFor="let val of yesOrNO"
                              [Label]="val"
                              [Value]="val">
                            </pg-option>
                          </pg-select>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div
                          pgFormGroupDefault
                          class="form-group form-group-default" >
                          <label>Cofirm Date</label>
                          <pg-datepicker formControlName="confirmDate"></pg-datepicker>
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group form-group-default">
                          <label>Status</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="status"/>
                        </div>
                      </div>
                    </div>

                    <div class="row clearfix">
                      <div class="col-md-12">
                        <div
                          pgFormGroupDefault
                          class="form-group form-group-default" >
                          <label>Leaving Reason</label>
                          <textarea
                            type="text"
                            class="form-control"
                            formControlName="leavingReason">
                          </textarea>
                        </div>
                      </div>
                    </div>
                  </div>

                  <label class="m-t-30"><em class="icon-list"></em>&nbsp;Extra Info</label>
                  <div
                    *ngIf="extraInfoRows"
                    formArrayName="extraInfo"
                    class="form-group-attached"
                    style="border-bottom: 1px solid rgba(0,0,0,0.07);" >
                    <div
                      class="form-group-attached"
                      *ngFor="let formgroup of employeeForm.get('extraInfo')['controls']; let _index = index ">
                      <div
                        class="row clearfix"
                        *ngIf="_index % 2 == 0" >
                        <div
                          class="col-md-6"
                          [formGroupName]="_index" >
                          <div class="form-group form-group-default">
                            <!-- <label>{{formgroup.value.key}}</label> -->
                            <label>{{ employeeForm.get('extraInfo').get([_index]).value.key}}</label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="value"/>
                          </div>
                        </div>
                        <div
                          class="col-md-6"
                          [formGroupName]="_index + 1"
                          *ngIf=" _index + 1 < employeeForm.get('extraInfo').length">
                          <div class="form-group form-group-default">
                            <label>
                              {{ employeeForm.get('extraInfo').get([_index + 1]).value.key}}
                            </label>
                            <input
                              type="text"
                              class="form-control"
                              formControlName="value"/>
                          </div>
                        </div>
                        <div
                          class="col-md-6"
                          *ngIf=" _index + 1 >= employeeForm.get('extraInfo').length ">
                          <div class="form-group form-group-default"></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <label class="m-t-30"><em class="icon-location-pin"></em>&nbsp;Contact Address</label>
                  <div
                    formGroupName="details"
                    class="form-group-attached" >
                    <div class="row clearfix">
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Name</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="contactAddressName" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Email</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="contactAddressEmail"/>
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Address1</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="contactAddressAddress1" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Address2</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="contactAddressAddress2"/>
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Address3</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="contactAddressAddress3" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>City</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="contactAddressCity" />
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>Country</label>
                              <pg-select
                                (OpenChange)="onCountryChange1($event)"
                                style="width: 100%;"
                                formControlName="contactAddressCountry"
                                [PlaceHolder]="'Select Option'"
                                AllowClear
                                ShowSearch >
                                <pg-option
                                  *ngFor="let country of countryStore1.rows"
                                  [Label]="country.name"
                                  [Value]="country.name">
                                </pg-option>
                              </pg-select>
                            </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>State</label>
                          <pg-select
                            style="width: 100%;"
                            formControlName="contactAddressState"
                            [PlaceHolder]="'Select Option'"
                            AllowClear
                            ShowSearch >
                            <pg-option
                              *ngFor="let state of statesStore1.rows"
                              [Label]="state.name"
                              [Value]="state.name">
                            </pg-option>
                          </pg-select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Pin</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="contactAddressPin" />
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Phone1</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="contactAddressPhone1" />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Phone2</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="contactAddressPhone2"/>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Mobile</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="contactAddressMobile"/>
                        </div>
                      </div>
                    </div>
                  </div>

                  <label class="m-t-30"><em class="icon-location-pin"></em>&nbsp;Present Address</label>
                  <div
                    formGroupName="details"
                    class="form-group-attached">
                    <div class="row clearfix">
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Name</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="presentAddressName"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Email</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="presentAddressEmail"/>
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Address1</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="presentAddressAddress1" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Address2</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="presentAddressAddress2" />
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Address3</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="presentAddressAddress3"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>City</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="presentAddressCity"/>
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-4">
                            <div class="form-group form-group-default">
                              <label>Country</label>
                              <pg-select
                                (OpenChange)="onCountryChange2($event)"
                                style="width: 100%;"
                                formControlName="presentAddressCountry"
                                [PlaceHolder]="'Select Option'"
                                AllowClear
                                ShowSearch>
                                <pg-option
                                  *ngFor="let country of countryStore2.rows"
                                  [Label]="country.name"
                                  [Value]="country.name">
                                </pg-option>
                              </pg-select>
                            </div>
                       </div>
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>State</label>
                          <pg-select
                            style="width: 100%;"
                            formControlName="presentAddressState"
                            [PlaceHolder]="'Select Option'"
                            AllowClear
                            ShowSearch>
                            <pg-option
                              *ngFor="let state of statesStore2.rows"
                              [Label]="state.name"
                              [Value]="state.name">
                            </pg-option>
                          </pg-select>
                        </div>
                      </div>
                      
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Pin</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="presentAddressPin"/>
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Phone1</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="presentAddressPhone1"/>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Phone2</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="presentAddressPhone2"/>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Mobile</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="presentAddressMobile"/>
                        </div>
                      </div>
                    </div>
                  </div>

                  <label class="m-t-30"><em class="icon-location-pin"></em>&nbsp;Permanent Address</label>
                  <div
                    formGroupName="details"
                    class="form-group-attached" >
                    <div class="row clearfix">
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Name</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="permanentAddressName"/>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Email</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="permanentAddressEmail" />
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Address1</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="permanentAddressAddress1" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Address2</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="permanentAddressAddress2"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>Address3</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="permanentAddressAddress3" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-default">
                          <label>City</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="permanentAddressCity"/>
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-4">
                          <div class="form-group form-group-default">
                            <label>Country</label>
                            <pg-select
                              (OpenChange)="onCountryChange3($event)"
                              style="width: 100%;"
                              formControlName="permanentAddressCountry"
                              [PlaceHolder]="'Select Option'"
                              AllowClear
                              ShowSearch >
                              <pg-option
                                *ngFor="let country of countryStore3.rows"
                                [Label]="country.name"
                                [Value]="country.name" >
                              </pg-option>
                            </pg-select>
                          </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>State</label>
                          <pg-select
                            style="width: 100%;"
                            formControlName="permanentAddressState"
                            [PlaceHolder]="'Select Option'"
                            AllowClear
                            ShowSearch>
                            <pg-option
                              *ngFor="let state of statesStore3.rows"
                              [Label]="state.name"
                              [Value]="state.name">
                            </pg-option>
                          </pg-select>
                        </div>
                      </div>
                      
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Pin</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="permanentAddressPin"/>
                        </div>
                      </div>
                    </div>
                    <div class="row clearfix">
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Phone1</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="permanentAddressPhone1" />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Phone2</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="permanentAddressPhone2"/>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group form-group-default">
                          <label>Mobile</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="permanentAddressMobile"/>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </pg-tab>
          <pg-tab>
            <ng-template #TabHeading> Hello Two </ng-template>
            <div class="row">
              <div class="col-lg-12">
                <h3>
                  “ Nothing is <span class="semi-bold">impossible</span>, the
                  word itself says 'I'm
                  <span class="semi-bold">possible</span>'! ”
                </h3>
                <p>
                  A style represents visual customizations on top of a layout.
                  By editing a style, you can use Squarespace's visual interface
                  to customize your...
                </p>
                <br />
                <p class="pull-right">
                  <button
                    type="button"
                    class="btn btn-default btn-cons"
                  >
                    White
                  </button>
                  <button
                    type="button"
                    class="btn btn-success btn-cons"
                  >
                    Success
                  </button>
                </p>
              </div>
            </div>
          </pg-tab>
          <pg-tab>
            <ng-template #TabHeading> Hello Three </ng-template>
            <div class="row">
              <div class="col-lg-12">
                <h3>Follow us &amp; get updated!</h3>
                <p>
                  Instantly connect to what's most important to you. Follow your
                  friends, experts, favorite celebrities, and breaking news.
                </p>
                <br />
              </div>
            </div>
          </pg-tab>
        </pg-tabset>
      </div>
    </div>
  </div>
</pg-container>