<div class="row column-seperation">
  <div class="col-lg-12">
    <div class="btn-toolbar m-t-5 pull-right" role="toolbar">
      <div class="btn-group">
        <button
          [(ngModel)]="viewType"
          btnRadio="calender"
          class="btn btn-default"
          type="button"
        >
          <i class="icon-calendar"></i>&nbsp;Calender
        </button>
        <button
          [(ngModel)]="viewType"
          btnRadio="table"
          class="btn btn-default"
          type="button"
        >
          <i class="icon-grid"></i>&nbsp;Table
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="viewType === 'calender'">
  <div class="col-lg-6">
    <div *ngIf="calendarOptions">
      <ng-fullcalendar
        #ucCalendar
        [options]="calendarOptions"
        (eventClick)="eventClick($event.detail)"
        (clickButton)="calnderButtonClick($event.detail)"
      ></ng-fullcalendar>
    </div>
  </div>
  <div class="col-lg-6">
    <pg-tabset tabAnimation="slide-left" Type="simple" ShowPagination="true">
      <pg-tab>
        <ng-template #TabHeading>
          <em class="icon-list"></em>&nbsp;Details
        </ng-template>
        <div class="row column-seperation" *ngIf="calenderSelctedDate">
          <div class="col-lg-12">
            <h3>{{ calenderSelctedDate.format('DD MMMM YYYY') }}</h3>
            <hr class="m-5" />
            <p>No records found!</p>
          </div>
        </div>
      </pg-tab>
      <pg-tab>
        <ng-template #TabHeading>
          <em class="icon-wallet"></em>&nbsp;Swipes
        </ng-template>
      </pg-tab>
    </pg-tabset>
  </div>
</div>

<div class="row" *ngIf="viewType === 'table'"></div>
